html {
	height:100%;
	width:100%;
}
body {
	height:100%;
	width:100%;
	padding: 0;
	margin: 0;
	display:flex;
	align-items:center;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-size:100%;
	flex-direction:column;
	overflow:hidden;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type:none;
	display:flex;
	font-weight:900;
	font-size:5rem;
}

.big-mamma {
	font-size:22rem;
	animation:flicker 1s infinite;
	position:absolute;
	left:calc(50% - 5rem);
	top:calc(50% - 11rem);
	z-index:-999;
}

.bolt-shower {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	border-bottom:5px solid black;
}

.bolt {	
	animation:falling 1.3s;
	position:fixed;
	top:110%;
	color:#f1c40f;
	font-size:7rem;
}

@keyframes falling {
    0% {top: 0;}
    100% {top: 110%;}
}

@keyframes flicker {
    0% {color: white;}
    50% {color: #f1c40f;}
    100% {color: white;}
}
